body {
background-image: url("salmon.png") ;
 background-repeat: no-repeat;
 background-size: cover;
}


ul {
  background-color: #4CAF50;
  opacity: .7;
}

li {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
display: block;
}
