body {
font : 9pt/16pt Georgia, Times New Roman, Times, serif;
color : #010E22;
background-image: url("salmon.png") ;
 background-repeat: no-repeat;
 background-size: cover;
margin : 4px;
border : 0;
padding : 0;
text-align : center;
}


h1{
  font-size: 50px;
}
ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: .8;
    border-radius: 13px;
    display: block;
    margin: 3px;

}

li {
font-size: 20px;
}

li a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
